# Regla para montar automáticamente dispositivos USB cuando se conectan
# Regla para desmontar automáticamente dispositivos USB cuando se desconectan
ACTION=="add|remove", SUBSYSTEM=="block", KERNEL=="sd[a-z][0-9]", ENV{ID_FS_USAGE}=="filesystem", ENV{SYSTEMD_WANTS}="usb-automount@%k.service"
