[Unit]
Description=Automontaje de USB para %I
Requires=dev-%i.device
BindsTo=dev-%i.device
After=dev-%i.device

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/local/bin/usb-automount.sh %I add
ExecStop=/usr/local/bin/usb-automount.sh %I remove
TimeoutStopSec=5s

[Install]
WantedBy=dev-%i.device

